<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
    backupGlobals="true"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    printerClass="yii\tests\ResultPrinter">
    <testsuites>
        <testsuite name="Yii Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
